{% extends "base.html" %}
    {% block header-top %}
         <div id="fh5co-wrapper">
                <div id="fh5co-page">

                <header id="fh5co-header-section" class="sticky-banner">
                        <div class="container">
                                <div class="nav-header">
                                        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
                                        <h1 id="fh5co-logo"><a href="/"><i class="icon-home"></i>Home<span>state</span></a></h1>
                                        <!-- START #fh5co-menu-wrap -->
                                        <nav id="fh5co-menu-wrap" role="navigation">
                                                <ul class="sf-menu" id="fh5co-primary-menu">
                                                        <li class="active"><a href="/index">主页</a></li>
                                                        <li>
                                                                <a href="/properties" class="fh5co-sub-ddown">课程介绍</a>
                                                                <ul class="fh5co-sub-menu">
                                                                        <li><a href="#">Linux运维工程师(初级课程)</a></li>
                                                                        <li><a href="#">Linux运维工程师(高级课程)</a></li>
                                                                        <li><a href="#">前端开发</a></li>
                                                                        <li><a href="#">Python工程师</a></li>
                                                                </ul>
                                                        </li>
                                                        <li><a href="/agent">学员风采</a></li>
                                                        <li><a href="/blog">最新咨询</a></li>
                                                        <li><a href="/contact">联系我们</a></li>
                                                </ul>
                                        </nav>
                                </div>
                        </div>
                </header>
   {% endblock %}

                <!-- end:header-top -->
   {% block content %}{% endblock %}
   {% block footer %}{% endblock %}
