{% extends "base.html" %}

    {% block header-top %}
            <nav class="navbar navbar-default bootsnav navbar-fixed no-background white">
                <!-- Start Top Search -->
                <div class="top-search">
                    <div class="container">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                        </div>
                    </div>
                </div>
                <!-- End Top Search -->


                <div class="container">
                    <div class="attr-nav">
                        <ul>
                            <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                        </ul>
                    </div>

                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="#brand">
                            <img src="static/images/logo.png" class="logo" alt="">
                            <!--<img src="static/images/footer-logo.png" class="logo logo-scrolled" alt="">-->
                        </a>

                    </div>
                    <!-- End Header Navigation -->

                    <!-- navbar menu -->
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#home">首页</a></li>
                            <li><a href="#features">关于我们</a></li>
                            <li><a href="#business">课程列表</a></li>
                            <li><a href="#product">我们的学员</a></li>
                            <li><a href="#team">我们的团队</a></li>
                            <li><a href="#contact">联系我们</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>

            </nav>
   {% endblock %}

                <!-- end:header-top -->
